<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBCasaEntities" connectionString="metadata=res://*/Model.DBCasa.csdl|res://*/Model.DBCasa.ssdl|res://*/Model.DBCasa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVKEY-XPS\SQLSERVER;initial catalog=DBCasa;persist security info=True;user id=tsci;password=tsci@@~~;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>